*,
body,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: cornflowerblue;
  padding: 20px;
}
main {
  padding: 20px;
}

main .challenge-1 h2 {
  margin-bottom: 20px;
}
main section ul {
  margin: 0px 0px 0px 3em;
}

.position-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  border: 2px dashed cornflowerblue;
  margin: 20px 0px;
}

.position-1 .circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
  background-color: cornflowerblue;
}

.position-2 {
  height: 500px;
  border: 2px dashed cornflowerblue;
  margin: 20px 0;
}

.position-2 .Rectangle {
  height: 100%;
  width: 50%;
  background-color: cornflowerblue;
  border: 20px solid purple;
  margin: 0 auto;
  box-sizing: border-box;
}

.position-3 {
  height: 500px;
  border: 2px dashed cornflowerblue;
  display: flex;
  padding: 10px;
}

.circle {
  height: 150px;
  width: 150px;
  border-radius: 100%;
}

.circle-1 {
 position: relative;
background-color: red;
}
.circle-2 {
  position: relative;
  left: 67.5%;
  display: flex;
  
background-color: orange;
}
.circle-3 {
  position: relative;
  top: 69%;
  right: 32.5%;
  display: flex;
 
  background-color:yellow;
}
.circle-4 {
  position: relative;
  top: 69%;
  left: 35.3%;
background-color: green;
}
